header {
}
header nav {
  height: 100%;
}
.logo-w-10 {
  width: 10%;
  min-width: 50px;
  padding-top: 8px;
}
#hero {
  animation: start 1s ease forwards;
}

.hero {
  background-image: url(img/dan-freeman-wAn4RfmXtxU-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}
.fs-xxl {
  font-size: 6rem;
}
.animationHeroTitle {
  animation: move 15s linear 1s infinite;
}
#hero span {
  animation: start 1s linear forwards;
}

@keyframes start {
  from {
    transform: translateY(-1000px);
    filter: blur(0.2em);
  }
  75% {
    filter: blur(0);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes move {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(-50%);
  }
}
@media screen and (min-width: 576px) and (orientation: portrait) {
  .fs-xxl {
    font-size: 10rem;
  }
}
@media screen and (min-width: 576px) and (orientation: landscape) {
  .fs-xxl {
    font-size: 4rem;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  .hero {
    background-attachment: fixed;
  }
  .fs-xxl {
    font-size: 15rem;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .hero {
    background-attachment: fixed;
  }
  .fs-xxl {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1200px) and (orientation: landscape) {
  .hero {
    background-attachment: fixed;
  }
  .fs-xxl {
    font-size: 15rem;
  }
}
