.letter-spacing-3 {
  letter-spacing: 0.3rem;
}
.bg-img-hero {
  background-image: url(./fishing-boat-still-lake-with-high-mountains-background.jpg);
  background-position: center;
  background-size: cover;
  max-height: 400px;
  min-height: 30vh;
}
.fs-responsive {
  font-size: 1.8rem; /* xs */
}
.fs-responsive-p {
  font-size: 1.2rem; /* xs */
}
.pt-services {
  padding-block: 8rem;
}
/* SM e superiori */
@media (min-width: 576px) {
  .fs-responsive {
    font-size: 2.3rem;
  }
  .bg-img-hero {
    min-height: 40vh;
  }
  .fs-responsive-p {
    font-size: 1rem; /* xs */
  }
}

/* MD e superiori */
@media (min-width: 768px) {
  .fs-responsive {
    font-size: 2.8rem;
  }
  .fs-responsive-p {
    font-size: 1.2rem; /* xs */
  }
}

/* LG e superiori */
@media (min-width: 992px) {
  .fs-responsive {
    font-size: 3.5rem;
  }
  .bg-img-hero {
    min-height: 50vh;
  }
  .letter-spacing-3 {
    letter-spacing: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .fs-responsive {
    font-size: 4.5rem;
  }
  .fs-responsive-p {
    font-size: 1.2rem; /* xs */
  }
}
